<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Page</title>
    <%- include('./Partials/Head') %>
</head>
<body>
    <%- include('./Partials/Navbar') %>
    <div class="container row row-cols-4 m-3">
      <% products.forEach(product => { %> 
        <div class="card me-3" style="width: 18rem;">
          <img src="<%= product.productImgUrl %>" class="card-img-top mt-3 rounded">
          <div class="card-body">
            <h5 class="card-title"><%= product.productName %></h5>
            <p class="card-text"><%= product.Price %></p>
            <a href="/addToCart/<%= product._id %>" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
      <% }) %>
      </div>
    <%- include('./Partials/Script') %>
</body>
</html>